<ion-modal-view ng-controller="CheckIn as vm" class="new-item-modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title newItemTitle">New Check-In</h1>
        <button id="checkIn" class="button button-clear button-primary icon ion-close-circled cancel-button" ng-click="vm.closeModal()"></button>
    </ion-header-bar>
    <ion-content class="padding newCheckIn">

        <md-content class="md-padding">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Check-In at</label>
                      <!--  <input   class="checkIn-place my" ng-autocomplete  ng-model="vm.currentLocation" googleplace="" placeholder="" ng-blur="vm.fieldBlurred($event)">-->
                    <md-autocomplete
                            ng-disabled="true"
                            md-no-cache="false"
                            md-selected-item="vm.currentLocation.formatted_address"
                            md-search-text="vm.currentLocation"
                            md-items="item in vm.GetPlace(vm.currentLocation)"
                            md-item-text="item.formatted_address"
                            placeholder="Check-In at">
                        <span md-highlight-text="vm.currentLocation">{{item.formatted_address}}</span>
                </md-input-container>
            </div>
            <div layout layout-sm="column">

                <md-input-container flex>
                    <label>Coming back To - Optional</label>
                    <!--<input class="coming-back-place my" ng-model="vm.comingBackLocation" googleplace="" ng-blur="vm.fieldBlurred($event)" placeholder="">-->
                   <!-- <input class="coming-back-place my" ng-model="vm.comingBackLocation" ng-change="vm.GetPlace()" ng-blur="vm.fieldBlurred($event)" placeholder="">
                    <select ng-model ="sourceObj" ng-options="autocompleteValue.formatted_address for autocompleteValue in vm.autocompleteValues">
                        &lt;!&ndash; <option ng-model="SourceObj" ng-repeat="autocompleteValue1 in sourceAutocompleteValues  ">{{autocompleteValue1.description}}</option>&ndash;&gt;
                    </select>-->
                    <md-autocomplete
                            ng-disabled="true"
                            md-no-cache="false"
                            md-selected-item="vm.comingBackLocation.formatted_address"
                            md-search-text="vm.comingBackLocation"
                            md-items="item in vm.GetPlace(vm.comingBackLocation)"
                            md-item-text="item.formatted_address"
                            placeholder="Coming back To - Optional">
                        <span md-highlight-text="vm.comingBackLocation">{{item.formatted_address}}</span>
                    </md-autocomplete>
                </md-input-container>
                <md-input-container flex class="coming-back-date-container">
                    <label>Coming back Date - Optional</label>
                    <input class="coming-back-date my" type="date" min="{{vm.minComingBackDate}}" ng-model="vm.comingBackDate" ng-blur="vm.fieldBlurred($event)">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Check-In Description - Optional</label>
                    <textarea class="checkIn-description new-item-description my" ng-model="vm.description" columns="5" md-maxlength="300" ng-blur="vm.fieldBlurred($event)"></textarea>
                </md-input-container>
            </div>
        </md-content>

        <button class="button button-full button-positive submit-button" ng-click="vm.UserCheckIn()">Check-In</button>

    </ion-content>
</ion-modal-view>









































<!--<div>-->
<!--<lable>Check-In at:</lable>-->
<!--<input class="checkIn-place" ng-autocomplete  ng-model="vm.currentLocation" type="text" googleplace="">-->
<!--</div>-->
<!--<lable class="checkIn-description-lable">Check-In Description:</lable>-->
<!--<textarea class="checkIn-description new-item-description" ng-model="newCheckIn.description" type="text" rows="6" cols="5" placeholder="Optional"></textarea>-->
<!--<lable>Coming back to:</lable>-->
<!--<input class="coming-back-place"  ng-model="vm.ComingBackLocation"  type="text"  placeholder="Optional" googleplace="">-->
<!--<label class="item item-input coming-back-date">-->
<!--<span class="input-label">Date</span>-->
<!--<input type="date">-->
<!--</label>-->