<ion-modal-view ng-controller="Post as vm" class="new-item-modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title newItemTitle">New Post</h1>
        <button id="post" class="button button-clear button-primary icon ion-close-circled cancel-button" ng-click="vm.closeModal()"></button>
    </ion-header-bar>
        <ion-content class="padding newPost">

            <md-content class="md-padding">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Post Content</label>
                        <textarea class="post-description" ng-model="vm.description" columns="5" md-maxlength="300" ng-blur="vm.fieldBlurred($event)"></textarea>
                    </md-input-container>
                </div>
            </md-content>
            <button class="button button-full button-positive submit-button" ng-click="vm.createPost()">Submit Post</button>
        </ion-content>
</ion-modal-view>





















<!-- <lable>Post Content:</lable>
    <textarea class="post-description new-item-description" ng-model="newPost.description" type="text" rows="14" cols="5"></textarea> -->