<ion-popover-view ng-controller="Post as vm" class="new-item-popover">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title newItemTitle">New Post</h1>
        <button id="post" class="button button-clear button-primary icon ion-close-circled cancel-button" ng-click="vm.closePopover()"></button>
    </ion-header-bar>
        <ion-content class="padding newPost">
            <lable>Post Content:</lable>
            <textarea class="post-description new-item-description" ng-model="newPost.description" type="text" rows="14" cols="5"></textarea>
            <button class="button button-full button-positive submit-button" ng-click="vm.createPost(newPost)">Submit Post</button>
        </ion-content>
</ion-popover-view>